
@media (max-width: 645px) {
    .cabecalho .titulo {
        font-size: 2em;
    }

    #game {
        padding: 48px 10px;
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    #game {
        width: 82%;
        padding: 24px 25px;
        font-size: 12px;
    }

    #game .numero {
        margin-bottom: 10px;
    }
}

@media (max-width: 430px) and (orientation: landscape) {
    .cabecalho .titulo {
        font-size: 1.5em;
        text-align: center;
    }

    #game {
        width: 90vw;
        padding: 24px 25px;
    }

    #game .numero {
        margin-top: 15px;
    }

    #game #numero {
        font-size: 12px;
    }

    #game #botao {
        font-size: 12px;
        margin-left: 10px;
    }

    #oculto {
        transform: translateY(50vw);
    }
}