@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

noscript > p {
    margin-top: 51px;
    margin-left: 334px;
    margin-bottom: 385px;
}

article {
    margin-top: 24px;
    margin-left: 1465px;
    margin-bottom: 86px;
}

article > h1 {
    margin-bottom: 13px;
    font-size: 2em;
}

table {
    margin-left: 563px;
    border-collapse: collapse;
    user-select: none;
}

table > caption {
    border: 1px solid black;
    font-size: 1.5em;
    padding: 5px;
}

th {
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px solid black;
    padding: 5px;
}

td > a {
    text-decoration: none;
}